  .roomsList {
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--main-color);
    overflow: auto;
    height: 100%;
  }
  
  .roomsList > ul {
    list-style-type: none;    
    padding: 0;
    overflow: scoll;
  }
  
  .roomsList li {
    margin: 10px 0;
  }
  
  .roomsList > h3 {
    margin: 5px 0;
    color: var(--secondary-color);
  }
  
  .roomsList .room button {
    color: var(--secondary-text-color);
    font-weight: 600;
    text-decoration: none;
    background: none;
    border: none;
    display: inline;
    outline: none;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
  }
  
  .roomsList .room button:hover{
    cursor: pointer;
  }
  
  .roomsList .room.active button {
    color: var(--secondary-color);
  }