  .newRoomForm {
    overflow: hidden;
    padding: 0 5px;
    height: 100%;
    background: var(--secondary-color);
    color: var(--main-text-color);
  }
  
  .newRoomForm form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .newRoomForm input {
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    border: 0;
  }
  
  .newRoomForm button {
    background: var(--secondary-color);
    color: var(--main-text-color);
    border: 0;
    cursor: pointer;
  } 
  
  .newRoomForm input::placeholder {
    color: var(--main-text-color);
    font-weight: 200;
  }
  
  .newRoomForm input:focus {
    outline-width: 0;
  }