.app {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas: 
        "r m m m m m"
        "r m m m m m"
        "r m m m m m"
        "r m m m m m"
        "r m m m m m"
        "n f f f f l";
}

.app.active{
    grid-template-areas: 
    "r m m m m u"
    "r m m m m u"
    "r m m m m u"
    "r m m m m u"
    "r m m m m u"
    "n f f f f l";
}

.newRoomFormGridArea {
    grid-area: n;
}

.roomsListGridArea {
    grid-area: r;
}

.messageListGridArea {
    grid-area: m;
}

.sendMessageFormGridArea {
    grid-area: f;
}

.userListGridArea{
    grid-area: u;
}

.logOutGridArea{
    grid-area: l;
}