.log-out .log-out-btn{
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    outline: none;
    border: solid 1px #cbcbcb;
    cursor: pointer;
    font-size: 20px;
}

.log-out .log-out-btn:active{
    border-width: 2px;
}

.log-out .log-out-btn .log-out-icon{
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-left: 10px;
}