  .sendMessageForm {
    background: var(--send-message-form);
    height: 100%;
    display: flex;
  }
  
  .sendMessageForm input {
    width: 100%;
    padding: 15px 10px;
    margin: 0;
    border-style: none;
    background: var(--send-message-form);
    font-weight: 200;
  
  }
  
  .sendMessageForm input:focus {
    outline-width: 0;
  }
  
  .sendMessageForm input::placeholder {
    color: var(--main-text-color);
  }