:root {
  --main-color: #5ea3d0;
  --secondary-color: white;
  --main-text-color: #3e5869;
  --own-message-color: #269c5b;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #F5F5F5;
  --user-list-main-color: #5ea3d0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: 	#3e5869; 
}

#root {
  height: 100%;
}

.app {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas: 
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "n f f f f l";
}

.app.active{
  grid-template-areas: 
  "r m m m m u"
  "r m m m m u"
  "r m m m m u"
  "r m m m m u"
  "r m m m m u"
  "n f f f f l";
}

.new-room-form {
  grid-area: n;
}

.rooms-list {
  grid-area: r;
}

.message-list {
  grid-area: m;
}

.send-message-form {
  grid-area: f;
}

.user-list{
  grid-area: u;
}

.log-out{
  grid-area: l;
}